<div class="navigationButton">
  <div (click)="scrollTo('one')" id="bt-one" class="icon navigation-one">
    <span>1</span>
  </div>
  <div class="button-text-one"></div>
  <div (click)="scrollTo('two')" id="bt-two" class="icon navigation-two">
    <span>2</span>
  </div>
  <div (click)="scrollTo('three')" id="bt-three" class="icon navigation-three">
    <span>3</span>
  </div>
  <div (click)="scrollTo('four')" id="bt-four" class="icon navigation-four">
    <span>4</span>
  </div>
</div>

<section id="one" class="one">
  <h1>Fernando Bataglin</h1>
</section>
<section id="two" class="two">
  <h1>Sobre</h1>
</section>
<section id="three" class="three">
  <h1>Portfólio</h1>
</section>
<section id="four" class="four">
  <h1>Contato</h1>
</section>