<div class="navigationButton">
  <div (click)="scrollTo('sectionOne')" id="bt-one" class="icon navigation-one">
    <span>1</span>
  </div>
  <div class="button-text-one"></div>
  <div (click)="scrollTo('sectionTwo')" id="bt-two" class="icon navigation-two">
    <span>2</span>
  </div>
  <div (click)="scrollTo('sectionThree')" id="bt-three" class="icon navigation-three">
    <span>3</span>
  </div>
  <div (click)="scrollTo('sectionFour')" id="bt-four" class="icon navigation-four">
    <span>4</span>
  </div>
</div>

<section id="sectionOne" class="sectionOne">
  <h1>Fernando Bataglin</h1>
</section>
<section id="sectionTwo" class="sectionTwo">
  <h1>Sobre</h1>
</section>
<section id="sectionThree" class="sectionThree">
  <h1>Portfólio</h1>
</section>
<section id="sectionFour" class="sectionFour">
  <h1>Contato</h1>
</section>